.event-management-title {
  margin: 25px 0;
}

.event-management-title span {
  font-weight: 700;
  font-size: 40px;
  color: hsl(0, 0%, 13%);
}

.page-container {
  padding: 0px 70px 40px 70px;
}

.page-container > h2 {
  font-weight: 700;
  font-size: 40px;
  color: hsl(0, 0%, 13%);
}

.list-header h2, .create-event-header h2, .edit-event-container h2 {
  color: hsl(0, 0%, 13%);
}

.list-content {
  padding: 0;
}

.list-item > a {
  font-size: 16px;
  font-weight: 500;
  color: hsl(0, 0%, 13%);
  cursor: pointer;
  padding: 10px 3px;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  display: inline-block;
  margin: 5px 0;
  padding: 5px 5px;
  width: 79%;
}

.list-item > a:hover {
  border-bottom: 2px solid #3fb0ac;
  box-shadow: 3px 4px 6px -6px hsl(0, 0%, 13%);
}

.list-item button {
  width: 120px;
  margin: 10px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: hsl(0, 0%, 13%);
}

.list-item button:hover {
  color: #fff;
  background-color: #3fb0ac;
  text-decoration-color: #fff;
}