.nav-wrapper {
	display: block;
	height: 44 px;
	color: #fff;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	background-color: #3fb0ac/*#1976d2 #009688*/;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.quick-link {
	text-align: center;
	width: 75px;
	float: right;
	margin: 10px 20px 10px 0px;
	cursor: pointer;
}

.quick-link a {
	text-decoration: none;
}

.logo {
	margin-left: 5px;
	height: inherit;
}

.logo img {
	float: left;
	max-height: 22px;
	margin: 10px 5px 10px 5px;
}

.logo span {
	float:left;
	font-size: 17px;
	margin: 10px 0px 10px 5px;
	cursor: pointer;
}